.add-chat {
  /* border: 2px solid red; */
  display: flex;
  background-color: #3798D4;
  padding: 10px 50px;
  width: 95%;
}
.text-box {
  flex: 1;
  padding: 5px;
  margin: 0 10px;
  border-radius: 0.4em;
  font-size: large;
}
.send-btn {
  width: 100px;
  font-weight: 600;
  background-color: #FF876D;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
