.container-left {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.container-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.chat-box {
  border: 1px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;
  display: block;
  color: black;
  padding: 0 0 0 10px;
  line-height: 1.3em;
}
.incomming-msg {
  min-width: 30%;
  background-color: white;
}
.outgoing-msg {
  width: 70%;
  background-color: #FCF6C3;
 }
 .author, .timestamp {
   color: gray ;
   font-size: small;
   font-weight: 300;
 }
 .outgoing-msg >.timestamp {
  float: right;
  padding-right: 10px;
 }
